.small__title {
  font-family: "Roboto";
  letter-spacing: 1.6px;
  color: #88929e;
  font-size: 16px;
  text-align: left;
  opacity: 1;
}
.title {
  font-family: "Roboto";
  line-height: 66px;
  color: #12263f;
  font-size: 54px;
  opacity: 1;
}
.detail {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 24px;
  color: #88929e;
}
.time {
  font-family: "Roboto";
  line-height: 18px;
  font-size: 24px;
  color: #88929e;
}
.edit__btn {
  border: 2px solid #0779e4;
  font-family: "Roboto";
  border-radius: 15px;
  padding: 25px 30px;
  text-align: center;
  line-height: 29px;
  font-size: 24px;
  color: #0779e4;
}
.edit__btn:hover {
  border: 2px solid #0779e4;
  background-color: #0779e4;
  font-family: "Roboto";
  border-radius: 15px;
  line-height: 29px;
  color: #ffffff;
  font-size: 24px;
}
.plus__btn {
  border: 2px solid #0779e4;
  background-color: #0779e4;
  font-family: "Roboto";
  border-radius: 15px;
  text-align: center;
  padding: 25px 30px;
  line-height: 29px;
  color: #ffffff;
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  border-radius: 15px;
  position: absolute;
  min-width: 195px;
  display: none;
  z-index: 1;
}

.dropdown-content a {
  font-family: "Roboto";
  text-decoration: none;
  padding: 12px 16px;
  color: #12263f;
  font-size: 24px;
  display: block;
  margin-top: 8px;
}

.dropdown-content a:hover {
  color: #12263f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
}

.main_title {
  font-size: 36px;
  line-height: 48px;
}
.small_title {
  letter-spacing: 1.6px;
  font-family: "Roboto";
  line-height: 19px;
  color: #88929e;
  font-size: 16px;
}
